body {
    background: #F0ECE5;
    color: #161A30;
    margin-top: 5rem;
}
  
  h1, h2, h3, h4, h5, h6 {
    color: #161A30;
  }
  
  .bg-steel {
    background-color: #161A30;
  }
  
  
  .site-header .navbar-nav .reg{
    font-size: 15px;
    padding: 6px 14px;
    border: 2px solid #F0ECE5;
    border-radius: 6px;
    color: #F0ECE5;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 10px;
  }
  .site-header .navbar-nav .reg:hover{
    background-color: #6e6d94;
    color: #FEFAE0;
  }
  
  .content-section {
    background: #F0ECE5;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    height: 400px; /* Adjust the height as needed */
    overflow: auto; /* Enables a scrollbar if content overflows */
    
  }

  ::-webkit-scrollbar {
    width: 5px; /* For Chrome, Safari, and Edge */
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* For Chrome, Safari, and Edge */
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
   
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .site-header .navbar-nav.ml-md-auto {
    margin-right: 0; /* Adjust margin to your preference */
}

.article {
  color: #161A30;
  text-decoration: none;
  font-weight: 500;
}

.article:hover {
  color: rgb(151, 149, 199)!important;
}
