{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form action="/register" method="POST" class="registration-form">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mt-5">Join</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(type="password", class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.password_confirm.label(class="form-control-label") }}
                {{ form.password_confirm(type="password", class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group mt-4 mb-4 d-grid gap-2 d-md-flex justify-content-md-end">
            {{ form.submit(class="btn btn-outline-light") }}
        </div>
    </form>
    

</div>

<div class="border-top pt-3">
    <small class="text-muted">
        Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
    </small>
</div>
{% endblock %}